<div class="bannerhotspotpage">
    <div class="header-info">
        <h5 id="header-info-listbannerhotspot-h5">List Banner Hotspot</h5>
        <div>
            <button onclick="TambahBanner()" class="btn btn-primary" id="btntambahbanner">Tambah Banner</button>
            <button onclick="SimpanUpdate()" class="btn btn-danger" id="btnsimpanperubahan">Simpan Perubahan</button>
        </div>
    </div>
    <p>
        - Untuk penambahan form banner perlu di lakukan 1 per 1 <br>
        - Untuk setiap perubahan data klik action pada sebelah data <br>
        - Jika ada perubahan data dan setelah klik button action di sebelah data, silakan klik simpan perubahan
    </p>
    <div>
        <div class="tabledivbanner table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table-list">
                <thead>
                    <tr>
                        <th style="width: 30px;">No.</th>
                        <th style="width: 50px;">Nama (Teks Alternatif / ALT)</th>
                        <th>Link Image</th>
                        <th>Target Link</th>
                        <th>Image</th>
                        <th style="width: 50px;">Action</th>
                    </tr>
                </thead>
                <tbody class="custom-table-body-listhotspotuser">
                </tbody>
            </table>
        </div>
    </div>
</div>