<div class="broadcastpage">
    <div class="form-broadcast-container">
        <h5>Broadcast</h5>
        <form id="broadcastForm" action="/broadcast" method="POST">
            <div class="form-group">
                <div class="form-group">
                    <label for="tujuan">Tujuan Broadcast:</label>
                    <select class="form-control" id="tujuan" name="tujuan" required>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pesan">Pesan:</label>
                <textarea class="form-control" id="pesan" name="pesan" rows="5" required></textarea>
            </div>
            <div class="btn-generate-qr">
                <button type="submit" class="btn btn-primary">Kirim Broadcast</button>
            </div>
        </form>
    </div>
</div>