<div class="limitasiakunpage">
    <div class="header-info">
        <h5 id="header-info-limitasiakun-h5">List Limitasi</h5>
    </div>
    <div class="tablediv table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table-list">
            <thead>
                <tr>
                    <th style="width: 30px;">No.</th>
                    <th>Username</th>
                    <!-- <th>Parent Queue</th> -->
                    <th>IP Address</th>
                    <th>Prioritas (Up/Down)</th>
                    <th>Limit (Up/Down)</th>
                    <th>Trafik Berjalan (Up/Down)</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="custom-table-body-listlimitasiakun">
            </tbody>
        </table>
    </div>
</div>