<div class="listbindingpage">
    <div class="header-info">
        <h5 id="header-info-listbinding-h5">List Klien</h5>
        <div>
            <button class="btn btn-primary" onclick="lihatlistbinding()">List Binding</button>
            <button class="btn btn-danger" onclick="tambahbinding()">Tambah Binding</button>
        </div>
    </div>
    <div class="tablediv table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table-list">
            <thead>
                <tr>
                    <th style="width: 30px;">No.</th>
                    <th>Hotspot</th>
                    <th>IP Address</th>
                    <th>Mac Address</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="custom-table-body-listbinding">
            </tbody>
        </table>
    </div>
</div>