<div class="loghotspotpage">
    <div class="header-info">
        <h5 id="header-info-loghotspot-h5">Log Sistem</h5>
    </div>
    <div class="tablediv table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table-list">
            <thead>
                <tr>
                    <th style="width: 30px;">No.</th>
                    <th>Waktu</th>
                    <th>Pesan</th>
                </tr>
            </thead>
            <tbody class="custom-table-body-loghotspot">
            </tbody>
        </table>
    </div>
</div>