<div class="systemhotspotpage">
    <div class="header-info">
        <h5 id="header-info-systemhotspotpage-h5">Sistem</h5>
    </div>
    <p>
    </p>
    <div class="card-body">
        <div id="config-container"></div>
        <button id="save-btn" class="btn btn-primary mt-3">Simpan</button>
    </div>
</div>