<div class="systemhotspotpage">
    <div class="header-info">
        <h5 id="header-info-systemhotspotpage-h5">Sistem</h5>
    </div>
    <p>
    </p>
    <div>
        <div id="config-container"></div>
        <button id="save-btn">Simpan</button>
    </div>
</div>