<div class="systemhotspotpage">
    <div class="header-info">
        <h5 id="header-info-systemhotspotpage-h5">Sistem</h5>
    </div>
    <p>
    </p>
    <div>
        <!-- <div class="tabledivbanner table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table-list">
                <thead>
                    <tr>
                        <th style="width: 30px;">No.</th>
                        <th style="width: 50px;">Nama (Teks Alternatif / ALT)</th>
                        <th>Link Image</th>
                        <th>Image</th>
                        <th style="width: 50px;">Action</th>
                    </tr>
                </thead>
                <tbody class="custom-table-body-listhotspotuser">
                </tbody>
            </table>
        </div> -->
    </div>
</div>