<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://merch.mikrotik.com/cdn/shop/files/512.png">
    <title><%= name_page %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/tamu.css">
</head>
<body>

    <div class="ie-fixMinHeight">
        <div class="main">
            <div class="wrap animated fadeIn">
                <img class="logo" src="https://www.claricebeauty.co.id/wp-content/uploads/2021/03/logo-png.png" alt="clarice_logo.jpg">
                <div class="content-form">

                    <div class="info" id="info">Isikan data diri anda dengan lengkap dan sesuai dengan form di bawah</div>
                    <div class="notice" id="err" style="display: none;"></div>

                    <form id="tambahAkunForm" action="/tambahakunhotspot" method="POST">

                        <label for="nama-lengkap">Nama Lengkap</label>
                        <input type="text" id="nama-lengkap" name="nama-lengkap" required>
                        
                        <label for="nomor">Nomor</label>
                        <input type="tel" id="nomor" name="nomor" required>
                        
                        <label for="tau-clarice">Tau Clarice dari?</label>
                        <select class="form-select" id="tau-clarice" name="tau-clarice" required>
                            <option value="">Pilih sumber</option>
                            <option value="teman">Teman</option>
                            <option value="keluarga">Keluarga</option>
                            <option value="internet">Sosmed Clarice</option>
                            <option value="lainnya">Lainnya</option>
                        </select>
                        <br>
                        
                        <label for="tanggal-lahir">Tanggal Lahir</label>
                        <div class="form-group">
                            <input type="date" class="form-control" id="tanggal_lahir" name="tanggal_lahir" required>
                        </div>
                        <br>
                        
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <button id="lanjutButton" class="daftar-btn">Detail Akun</button>
            </div>
        </div>
    </div>

    <script>
        // $(function() {
        //     $("#tanggal_lahir").datepicker({
        //         dateFormat: "dd-mm-yy", // Format tanggal yang ingin ditampilkan
        //         yearRange: "-100:+0", // Batas tahun yang dapat dipilih (100 tahun sebelum dan sesudah tahun sekarang)
        //         changeMonth: true, // Tampilkan pilihan bulan
        //         changeYear: true // Tampilkan pilihan tahun
        //     });
        // });

        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            const authParam = urlParams.get('auth');

            if (authParam) {
                console.log('Auth parameter:', authParam);
                // Gunakan authParam sesuai kebutuhan
            }
            document.getElementById('tambahAkunForm').addEventListener('submit', function (event) {
                event.preventDefault();
                const nomor = document.getElementById('nomor').value;
                const nama_lengkap = document.getElementById('nama-lengkap').value;
                const info_clarice = document.getElementById('tau-clarice').value;
                const tgl_lahir = document.getElementById('tanggal_lahir').value;
                console.log(nomor, nama_lengkap, info_clarice, tgl_lahir);


                const phonePattern = /^0[0-9]{9,14}$/;
                
                if (!nomor) {
                    document.getElementById('err').style.display = 'block';
                    document.getElementById('err').innerText = "Silakan mengisikan nomor akun";
                    return;
                }

                if (!phonePattern.test(nomor)) {
                    document.getElementById('err').style.display = 'block';
                    document.getElementById('err').innerText = "Nomor HP tidak valid. Pastikan berisi angka dan panjangnya 10-15 digit.";
                    return;
                }

                const formData = {
                    username: nomor
                };

                fetch(`/tambahakuntamu?auth=${authParam}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => {
                    const errDiv = document.getElementById('err');
                    errDiv.style.display = 'block';
                    errDiv.innerText = data.message;
                    if (data.success) {
                        document.getElementById('nomor').value = '';
                    }
                })
                .catch(error => {
                    console.log('Error:', error);
                    const errDiv = document.getElementById('err');
                    errDiv.style.display = 'block';
                    errDiv.innerText = 'Terjadi kesalahan. Silakan coba lagi.';
                });
            });
        });
    </script>
    
</body>
</html>
