<div class="homepage">
    <h1 id="sambutan"></h1>
    <div class="form-tambahakun-container">
        <h5>Tambah Akun</h5>
        <form id="tambahAkunForm" action="/tambahakunhotspot" method="POST">
            <div class="row">
                <div class="col">
                    <div class="form-grup">
                        <label for="username">Username :</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Isi dengan nomor hp">
                    </div>
                </div>
            </div>
            <div class="btn-tambah-hotspot">
                <button type="submit" class="btn btn-primary btn-tambah-akun">Simpan</button>
            </div>
        </form>
    </div>
</div>