<div class="listakunpage">
    <div class="header-info">
        <h5 id="header-info-listakun-h5">List Akun Hotspot</h5>
    </div>
    <div class="tablediv table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table-list">
            <thead>
                <tr>
                    <th style="width: 30px;">No.</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Pemakaian (Down/Up)</th>
                    <th>Profile</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="custom-table-body-listhotspotuser">
            </tbody>
        </table>
    </div>
</div>