<div class="listakunaktifpage">
    <div class="header-info">
        <h5 id="header-info-listakunaktif-h5">List Akun Hotspot Aktif</h5>
        <button class="btn btn-danger" onclick="logoutkansemua()">Logoutkan Semua</button>
    </div>
    <div class="tablediv table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table-list">
            <thead>
                <tr>
                    <th style="width: 30px;">No.</th>
                    <th>Username</th>
                    <th>Hotspot</th>
                    <th>IP Address</th>
                    <th>Pemakaian (Down/Up)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="custom-table-body-listhotspotuseraktif">
            </tbody>
        </table>
    </div>
</div>